body {
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2em;
	padding-top: 1em;
	background: #ffffff;
	color: #000000;
	}
div.nav {
	text-align: center;
	}
table.nav {
	text-align: center;
	width: 100%;
	}
table.nav tr td {
	background: #00eeff;
	color: #000000;
	border: 0px;
	padding: 1ex;
	margin: 5px;
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}
div.section {
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	background: #ffffff;
	color: #000000;
	padding-top: 0px;
	border: 1px solid #f8f8ff;
	border-bottom: 1em solid #00eeff;
	margin-top: 1ex;
	margin-bottom: 1ex;
	}
div.subsection {
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: normal;
	background: #f8f8ff;
	color: #000000;
	margin-bottom: 3em;
	margin-left: 1em;
	margin-right: 1em;
	border: 1px solid #f8f8ff;
	}
h1 {
	text-align: center;
	font-variant: small-caps;
	background: #00eeff;
	color: #000000;
	font-size: 15pt;
	}
h2, h3, h4 {
	text-align: left;
	font-variant: small-caps;
	background: #00eeff;
	color: #000000;
	}
h2 { font-size: 14pt; }
h3 { font-size: 13pt; }
h4 { font-size: 12pt; }
.term {
	font-family: "Courier new", Courier, monospace;
	font-weight: bold;
	font-size: 12pt;
	background: #000000;
	color: #fffffc;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	border: 2px solid #0000aa;
/*	margin-left: 2em;
	margin-right: 2em;
	width: 70ex; */
	margin-bottom: 1ex;
	margin-top: 1ex;
	}
div.titlebar {
	text-align: left;
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-weight: bold;
	font-size: 12pt;
	background: #0000aa;
	color: #ffff33;
	margin: 0px;
	border: 1px solid #0000aa;
	}
pre {
	font-family: Courier, "Courier New", monospace;
	text-align: left;
	white-space: pre;
	}
strong {
	font-weight: bold;
	text-decoration: underline;
	}
p, ul, ol {
	font-weight: 500;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	text-align: justify;
	}
blockquote {
	font-size: 10pt;
	}
